<app-header params="inicio" (logout)="event($event)"></app-header>

<ion-content  fullscreen>

  <ion-list-header>
    <ion-label color="primary">Facturas</ion-label>
  </ion-list-header>

    <ion-accordion-group>
      <ion-accordion value="first"  toggleIcon="caret-down-circle" toggleIconSlot="end" >
        <ion-item slot="header" >
          <ion-label>
            <ion-label>
              <h2>Nombre : Patricia Rivera</h2>
              <h3>Fecha: 20-09-2022 </h3>
              <p>Valor Total: $ 500.000 </p>
            </ion-label>
          </ion-label>
        </ion-item>
        <div class="ion-padding"  slot="content">
            <ion-row>
              <ion-col size="12">
                <ion-label>Cufe : 237462rbv82f47gf7f48f8h</ion-label>
              </ion-col>
              <ion-col size="12">
                <ion-label >
                  <ion-button class="ion-float-right"><ion-icon name="code-slash-outline"></ion-icon></ion-button>
                  <ion-button class="ion-float-right">
                    <ion-icon name="receipt-outline"></ion-icon>
                  </ion-button>
                  <ion-button class="ion-float-right">
                    <ion-icon name="download-outline"></ion-icon>
                  </ion-button>
                </ion-label>
              </ion-col>
            </ion-row>
        </div>
      </ion-accordion>
      <ion-accordion value="second"  toggleIcon="caret-down-circle" toggleIconSlot="end">
        <ion-item slot="header" >
          <ion-label>
            <ion-label>
              <h2>Nombre : Rafael Buelvas</h2>
              <h3>Fecha: 10-07-2022 </h3>
              <p>Valor Total: $ 200.000 </p>
            </ion-label>
          </ion-label>
        </ion-item>
        <div class="ion-padding"  slot="content">
          <ion-row>
            <ion-col size="12">
              <ion-label>Cufe : 237462rbv82f47gf7f48f8h</ion-label>
            </ion-col>
            <ion-col size="12">
              <ion-label >
                <ion-button class="ion-float-right"><ion-icon name="code-slash-outline"></ion-icon></ion-button>
                <ion-button class="ion-float-right">
                  <ion-icon name="receipt-outline"></ion-icon>
                </ion-button>
                <ion-button class="ion-float-right">
                  <ion-icon name="download-outline"></ion-icon>
                </ion-button>
              </ion-label>
            </ion-col>
          </ion-row>
        </div>
      </ion-accordion>
      <ion-accordion value="third"  toggleIcon="caret-down-circle" toggleIconSlot="end">
        <ion-item slot="header" >
          <ion-label>
            <ion-label>
              <h2>Nombre : John Vergara</h2>
              <h3>Fecha: 15-07-2022 </h3>
              <p>Valor Total: $ 1.500.000 </p>
            </ion-label>
          </ion-label>
        </ion-item>
        <div class="ion-padding"  slot="content">
          <ion-row>
            <ion-col size="12">
              <ion-label>Cufe : 237462rbv82f47gf7f48f8h</ion-label>
            </ion-col>
            <ion-col size="12">
              <ion-label >
                <ion-button class="ion-float-right"><ion-icon name="code-slash-outline"></ion-icon></ion-button>
                <ion-button class="ion-float-right">
                  <ion-icon name="receipt-outline"></ion-icon>
                </ion-button>
                <ion-button class="ion-float-right">
                  <ion-icon name="download-outline"></ion-icon>
                </ion-button>
              </ion-label>
            </ion-col>
          </ion-row>
        </div>
      </ion-accordion>
    </ion-accordion-group>
</ion-content>
